* {
  box-sizing: border-box;
}


body {
  padding: 20px;
  background: #669bbc;
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin-top: 20px;
  color: #780000;
}

.react-facts{
  width:300px;
}
