* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #c0dffa;
  color: black;
  font-family: Inter, sans-serif;
  font-size: 1.3em;
}

header {
  height: 150px;
  background-color: #0077b6;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
  margin-top: 20px;
  color: #050505;
  text-align: center;
}
nav > span {
  width: 100%;
}

nav > img {
  width: 350px;
  border-radius: 5%;
  margin-right: 7px;
}

main {
  padding: 60px 30px;
}

main > h1 {
  margin: 0;
  font-size: 1.8em;
}

main > div {
  margin-left: 3em;
  margin-right: 3em;
}

main > div > div > img {
  width: 8em;
  float: right;
  opacity: 0.6;
}

.react-facts {
  margin-top: 40px;
}

.react-facts > li {
  padding-block: 10px;
  line-height: 30px;
}

.react-facts > li::marker {
  color: #0077b6;
  font-size: 1.5rem;
}
