* {
  box-sizing: border-box;
}


body {
  padding: 20px;
  background: #c0dffa;
  color:black;
  font-size: 1.3em;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
  margin-top: 20px;
  color: #0077b6;
}

.react-facts{
  width:300px;
}
